.welcomeContainer {
    display: flex;
    justify-content: center;
    background: url(../../Images/sakuraWelcome.png) center 0/cover no-repeat fixed;
    background-color: #ffb7c5;
    height: 100%;
    position: absolute;
    cursor: default;
    animation: fadeAway ease-in 3s; 
    animation-fill-mode: forwards;
}

@keyframes fadeAway {
    0% {
        opacity: 1;
        z-index: 100;
    }
    100% {
        opacity: 0;
        background-color: #FFF;
        z-index: 0;
    }
}

.welcomeTitle {
    font-size: 8vw;
    color: #ffb7c5;
}

.welcomeDiv {
    display:flex;
    justify-content: center;
    align-items: center;
}