.aboutContainer {
    height: 100%;
    margin-top: 2vh;
    animation: yDown ease-out 1.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.aboutRow2 {
    animation: xRight ease-out 2s;
    animation-fill-mode: forwards;
}

.aboutRow3 {
    animation: xLeft ease-out 2s;
    animation-fill-mode: forwards;
}

.aboutCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aboutImage {
    width: 80vmin;
    height: auto;
}

.aboutContent {
    color: #000;
    text-align: center;
    font-size: 10vmin;
    margin-top: 5vh;
    margin-bottom: 5vh;
}