.aboutContainer {
    height: 100%;
    padding-top: 15vh;
}

.aboutImage {
    width: 80vmin;
    height: auto;
    box-shadow: 5px 10px;
}

.aboutContent {
    color: #000;
    text-align: center;
    font-size: 10vmax;
}

.aboutRow {
    height: 500px;
}

.aboutCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}