.photosContainer {
    padding-top: 10vh;
    height:100%;
}

.photos {
    width: 100%;
    height: auto;
    border: solid #000;

}

.photoDiv {
    text-align: center;
    animation: moveRight ease 2s;
    padding: 0;
}

@keyframes moveRight {
    0% {
        opacity: .5;
        transform: translateX(-100vw)
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.photoWidth30 {
    width: 30vw;
    height: auto;
}

.photoWidth50 {
    width: 50vw;
    height: auto;

}

.photoPageContainer {
    text-align: center;
    height: 100%;
}
