.photosContainer {
    padding-top: 10vh;
    background-color: aqua;
    height:100%;
}

.photos {
    width: 100%;
    height: auto;
    border: solid #000;

}

.photoDiv {
    text-align: center;
}

.photoWidth30 {
    width: 30vw;
    height: auto;
}

.photoWidth50 {
    width: 50vw;
    height: auto;
}

