.photosContainer {
    padding-top: 2vh;
    height:100%;
    overflow: hidden;
}

.photos {
    width: 100%;
    height: auto;
    border: solid #000;
}

.photos:hover {
    opacity: 0.7;
}

.photoDivLeft {
    text-align: center;
    animation: xLeftPhotos ease-out 1s;
}

.photoDivRight {
    text-align: center;
    animation: xRightPhotos ease-out 1s;
}

.photoWidth30 {
    width: 30vw;
    height: auto;
}

.photoWidth50 {
    width: 50%;
    height: auto;
    border: solid #000;
}

.photoPageContainer {
    text-align: center;
    height: 100%;
}

.photoPageTitle {
    font-size: 8vh;
}

.photoBack {
    display: none;
}

@media (max-width: 992px) {
    .photoBack {
        display: block;
    }
}

.photoIndexDiv {
    position: fixed;
    bottom: 0;
    right: 0;
}