.contactContainer {
    text-align: center;
    height: 100vh;
    padding-top: 15vh;
}

.contactTitle {
    font-size: 8vmin;
    color: #000;
    margin-bottom: 10vh;
}

.contactIcon {
    font-size: 5vmax;
}

.contactInsta {
    color: #DD2A7B;
}

.contactInsta:hover {
    color: #cc1266;
}

.instaCaption {
    color: #DD2A7B;
    text-decoration: none;
    font-size: 2vmax;
}

.instaCaption:hover {
    cursor: default;
}

.contactMail {
    color: #31A9F6;
}

.contactMail:hover {
    color: #2d9ce3;
}

.mailCaption {
    color: #31A9F6;
    text-decoration: none;
    font-size: 2vmax;
}

.mailCaption:hover {
    cursor: default;
}

.formLabel {
    display: flex;
    font-size: 5vmin;
}

.left {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: center;
}

.smallCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}