.contactContainer {
    text-align: center;
    height: 100vh;
}

.contactRow {
    height: 100%;
}

.contactTitle {
    padding-top: 15vh;
    font-size: 8vw;
    color: #000;
}

.contactIcon {
    font-size: 15vw;
}

.contactInsta {
    color: #DD2A7B;
}

.contactInsta:hover {
    color: #cc1266;
}

.instaCaption {
    color: #DD2A7B;
    text-decoration: none;
    font-size: 5vw;
}

.instaCaption:hover {
    color: #cc1266;
}

.contactMail {
    color: #31A9F6;
}

.contactMail:hover {
    color: #2d9ce3;
}

.mailCaption {
    color: #31A9F6;
    text-decoration: none;
    font-size: 5vw;
}

.mailCaption:hover {
    color: #2d9ce3;
}